@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}

.tocando {
    background-color: lightcoral !important;
}

#ialarme {
    width: 100%;
}

#isetAlarme {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -38px;
}

.divbotao {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

input[type='button'] {
    margin-top: 7px;
    cursor: pointer;
    border: 2px solid grey;
    padding: 5px;

}

.relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: black;
    color: green;
    font-size: larger;
}