@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    gap: 10px;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.if_principal {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}