@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

.mainMenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 146px;
    height: 100vh;
    gap: 10px;
    position: absolute;
    left: -147px;
    top: 0px;
    transition: 0.5s;
    background-color: lightgray;
    padding: 5px;
}

.ifprincipal {
    width: 100%;
    height: 100vh;
}

.expandir {
    left: 0px !important;
    transition: 0.5s;
}

.icons {
    cursor: pointer;
    width: 30px;
    border-radius: 7px;
}

.icons:hover {
    background-color: grey;
}

.itensMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: grey; */
    width: 100%;
    height: 100%;
    margin: 4px;
}

.itensMenu a {
    text-decoration: none;
    color: white;
}

/*TABELAS GERAL*/

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}

.colunaTitulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid black;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.linhadados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colunaDados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border: 1px solid black;
    padding: 5px;
    background-color: lightgray;
    font-weight: 600;
}

.colunaDados:hover {
    background-color: azure;
}

.imgFunções {
    cursor: pointer;
}

/*******/

/*JANELA POPUP*/
.janelaBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999999999;
}

.janela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
}

.topoJanela {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

.corpoJanela {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    padding: 5px;
}

.rodapeJanela {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    gap: 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.camposForm {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.camposForm,
input,
select {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.camposForm label {
    width: 100%;
}


.campoTel input {
    width: 90% !important;
}

.campoTel button {
    width: 10% !important;
}

.campoTel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#telefones {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
    gap: 10px;
}

.delTel {
    /* background-color: grey; */
    padding: 3px;
    cursor: pointer;
}


.ocultar {
    display: none !important;
}

/*******************/