@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  font-family: 'Roboto';
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid grey;

}

.navbar a {
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color: grey;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}