body {
    overflow-y: auto !important;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem {
    width: 75px;
    height: 100px;

}

/* .colunaDados .c1 {}

.colunaDados .c2 {}

.colunaDados .c3 {}

.colunaDados .c4 {}

.colunaDados .c5 {} */