.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: lightgray;
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.config {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}